body{
    margin:0;
}
.box{
    height:830px;
    padding-top:40px;
    color:white;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: space-around;
}
h3{
    color: chartreuse;
}
input{
    height: 30px;
}
button{
    height: 36px;
    width: 80px;
    background-color: rgb(135, 206, 65);
    border:0;
    color:#fff;
}
.box4-1{
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color:black;
}
.box4-2{
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    height:35px;
    width:35px;
}
.social a i{
    font-size: 25px;
}